venv/
.env
__pycache__/
*.pyc


# QQXbTvVi8zWFjpwN
# contactcravefinds_db_user
# fC6PVplpZ0706CSO
# snaply_admin

# mongodb+srv://<db_username>:<db_password>@snaply-cluster.dfcjj8l.mongodb.net/?appName=snaply-cluster